<%= form_with(model: @going, local: true) do |f| %>

  <%= f.hidden_field :profile_id, value: @profile.id %>

  <div class="form-group">
    <%= f.label :event_id %>

    <%= f.collection_select :event_id, Event.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create going", class: "btn btn-block btn-outline-secondary" %>
<% end %>
