<!-- Form going start -->
<%= form_with(model: @going, local: true) do |f| %>
<!-- Form going end -->

  <!-- Label and input for profile_id start -->
  <!-- Input for profile_id start -->
  <%= f.hidden_field :profile_id, value: @profile.id %>
  <!-- Input for profile_id end -->
  <!-- Label and input for profile_id end -->

  <!-- Label and input for event_id start -->
  <div class="form-group">
    <%= f.label :event_id %>

    <!-- Input for event_id start -->
    <%= f.collection_select :event_id, Event.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for event_id end -->
  </div>
  <!-- Label and input for event_id end -->

  <%= f.submit "Create going", class: "btn btn-block btn-outline-secondary" %>
<% end %>
