<%= form_with(model: @comment, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :event_id %>

    <%= f.text_field :event_id, class: "form-control" %>
  </div>

  <%= f.hidden_field :profile_id, value: @profile.id %>

  <%= f.submit "Create comment", class: "btn btn-block btn-outline-secondary" %>
<% end %>
