<div class="card mb-3">
  <h2 class="card-header h4">
    Going #<%= going.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Profile</dt>
      <dd>
        <% if @going.attendee.present? %>
          <%= link_to going.attendee, going.attendee %>
        <% end %>
      </dd>

      <dt>Event</dt>
      <dd>
        <% if @going.event.present? %>
          <%= link_to going.event, going.event %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back going, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_going_url(going), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to going, method: :delete, data: { confirm: "Do you really want to delete this going?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(going.updated_at) %> ago
  </div>
</div>
