<%= form_with(model: @going, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :profile_id %>

    <%= f.collection_select :profile_id, Profile.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :event_id, value: @event.id %>

  <%= f.submit "Create going", class: "btn btn-block btn-outline-secondary" %>
<% end %>
