<% was_validated = event.errors.any? %>

<%= form_with(model: event, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for profile_id start -->
  <!-- Input for "profile_id" start -->
  <%= f.hidden_field :profile_id, value: current_profile.id %>
  <!-- Input for "profile_id" end -->
  <!-- Label and input for profile_id end -->
  <!-- Label and input for date_time start -->
  <div class="form-group">
    <% date_time_class = "form-control" %>
    <% date_time_was_invalid = event.errors.include?(:date_time) %>

    <% if was_validated %>
      <% if date_time_was_invalid %>
        <% date_time_class << " is-invalid" %>
      <% else %>
        <% date_time_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :date_time %>
    <!-- Input for date_time start -->
    <%= f.datetime_select :date_time, class: date_time_class, placeholder: "Enter date time" %>
    <!-- Input for date_time end -->
    <% if date_time_was_invalid %>
      <% event.errors.full_messages_for(:date_time).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for date_time end -->
  <!-- Label and input for location start -->
  <div class="form-group">
    <% location_class = "form-control" %>
    <% location_was_invalid = event.errors.include?(:location) %>

    <% if was_validated %>
      <% if location_was_invalid %>
        <% location_class << " is-invalid" %>
      <% else %>
        <% location_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :location %>
    <!-- Input for location start -->
    <%= f.text_field :location, class: location_class, placeholder: "Enter location" %>
    <!-- Input for location end -->
    <% if location_was_invalid %>
      <% event.errors.full_messages_for(:location).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for location end -->
  <!-- Label and input for details start -->
  <div class="form-group">
    <% detail_class = "form-control" %>
    <% detail_was_invalid = event.errors.include?(:detail) %>

    <% if was_validated %>
      <% if detail_was_invalid %>
        <% detail_class << " is-invalid" %>
      <% else %>
        <% detail_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :details %>
    <!-- Input for details start -->
    <%= f.text_field :details, class: detail_class, placeholder: "Enter detail" %>
    <!-- Input for details end -->
    <% if detail_was_invalid %>
      <% event.errors.full_messages_for(:detail).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for details end -->
  <!-- Label and input for comments start -->
  <div class="form-group">
    <% comment_class = "form-control" %>
    <% comment_was_invalid = event.errors.include?(:comment) %>

    <% if was_validated %>
      <% if comment_was_invalid %>
        <% comment_class << " is-invalid" %>
      <% else %>
        <% comment_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :comments %>
    <!-- Input for comments start -->
    <%= f.text_field :comments, class: comment_class, placeholder: "Enter comment" %>
    <!-- Input for comments end -->
    <% if comment_was_invalid %>
      <% event.errors.full_messages_for(:comment).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for comments end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
